.collection-section-cards {
    @include flex(column, flex-start, stretch, $space-4);
    flex-wrap: nowrap;
    width: 58%;
    height: 100%;

    .title {
        width: 100%;
        border-bottom: 1px solid $TextColor3;
        margin-bottom: $space-2;

        h2 {
            font-size: 1.75rem;
            text-transform: capitalize;
            font-weight: 700;
            color: $TextColor1;
            margin-bottom: $space-3;
        }
    }

    .collection-cards {
        container-type: inline-size;
        width: 100%;
        @include flex(row, center, flex-start, $space-4);

        @container (min-width: 658px) {
            .box-card .box-image-card {
                aspect-ratio: 1 / 1;
            }
        }

        .box-card {
            flex: 0 1 clamp(145px, calc(33.333cqw - .667rem), 260px);
            min-width: 145px;
            max-width: 260px;
            width: auto;
            @include flex(column, flex-start, stretch, $space-2);

            .box-content-card {
                h3 {
                    font-size: .9rem;
                }

                h4 {
                    font-size: .8rem;
                }
            }
        }
    }
}


@media (max-width: 1023px) {
    .collection-section-cards {
        width: 100%;
        order: 1; 

        .collection-cards {
            .box-card {
                .box-content-card {
                    h3 {
                        font-size: 1rem;
                    }

                    h4 {
                        font-size: .9rem;
                    }
                }
            }
        }

        .title {
            margin-block: 2rem;

            h2 {
                font-size: 1.5rem;
            }
        }

    }
}

@media (max-width: 767px) {
    .collection-section-cards {
        width: 100%;
        order: 1; 

        .collection-cards {
            .box-card {
                .box-content-card {
                    h3 {
                        font-size: 1.5rem;
                    }

                    h4 {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .title {
            margin-block: 2rem;

            h2 {
                font-size: 2.5rem;
            }
        }

    }
}