.px {
    margin-inline: auto;
    padding-inline: clamp($space-4, 3vw, $space-12);
    box-sizing: border-box;
}

.py {
    padding-block: $space-12 $space-8;
}

html {
    font-size: 10px;
}

@media (min-width: 768px) {
    .py {
        padding-block: $space-16 $space-12;
    }

    html {
        font-size: 16px;
    }
}
