.header-section{
    text-align: center;
    font-size: $font-size-h3;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.25;
    color: $TextColor1;
}


@media (max-width: 1023px) {
    .header-section{
        font-size: 1.25rem;
    }
}

@media (max-width: 767px) {
    .header-section{
        font-size: 1.8rem;
    }
}